<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/krithikj/Desktop/DemoQa/src/main/java/org/example/ElementsPageObjects.java">
      <classes>
          <class name="Elements"/>

      </classes>
        
</test>
</suite>